@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre-Regular.woff");
}

:root {
  --color-negro: #181818;
  --color-blanco: #fcfcfc;
  --color-gris: #919191;
  --tipografia-principal: "Roboto", sans-serif;
  --tipografia-secundaria: "Anton", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--tipografia-principal);
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.oculto {
  display: none;
}

.oculto-movil {
  display: none;
}

.visuales {
  display: none;
}

.contenido-centrado {
  padding: 20px 20px 0px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.texto-comun {
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  font-size: clamp(0.9rem, 2vw, 1.05rem);
  line-height: 1.8;
}

.titulos-secciones .titulo-secundario {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 1.5;
}

.titulos-secciones .linea-titulo-secundario {
  width: 45%;
  height: 6px;
  background: var(--color-blanco);
  display: block;
  margin: 10px 0;
  max-width: 200px;
}

.grid {
  padding: 100px 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 1fr 150px;
      grid-template-rows: 150px 1fr 150px;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-rows: 200px 450px 150px;
        grid-template-rows: 200px 450px 150px;
  }
  .titulos-secciones {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .contenido-secciones {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .nav-sec {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1024px) {
  .grid {
    -ms-grid-columns: 3fr 1.2fr;
        grid-template-columns: 3fr 1.2fr;
    -ms-grid-rows: 200px 500px 150px;
        grid-template-rows: 200px 500px 150px;
    position: relative;
  }
  .visuales {
    display: block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    position: relative;
    max-height: 500px;
  }
  .visuales .visual {
    background: aqua;
    position: absolute;
    width: 550px;
    height: 350px;
    z-index: 99;
    margin: auto 0;
  }
}

.botones {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-principal {
  padding: 6px 8px;
  border: 2px solid var(--color-negro);
  margin: 10px 0px;
  font-family: var(--tipografia-secundaria);
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.7vw, 1.1rem);
  color: var(--color-negro);
  cursor: pointer;
}

.btn-principal i {
  margin: 0 5px;
}

.btn-principal:hover {
  background: var(--color-negro);
  color: var(--color-blanco);
  border: 2px solid var(--color-blanco);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-principal {
  position: relative;
  width: 100%;
  background: white;
  background: url("/images/imagen-fondo.webp") center/cover no-repeat;
  overflow: hidden;
  padding-bottom: 50px;
}

.header-principal:after {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.918);
  position: absolute;
  content: "";
  z-index: 1;
}

.navegacion-principal {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.navegacion-principal .logo {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .mini-logo {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.navegacion-principal .numero,
.navegacion-principal .correo {
  width: 50%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  color: var(--color-negro);
  cursor: pointer;
}

.navegacion-principal .correo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contenido-principal {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.contenido-principal .titulo-principal {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(3.5rem, 10vw, 7rem);
  margin: 0;
  padding: 0;
  color: var(--color-blanco);
  background: url("/images/imagen-titulo.webp") center/cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contenido-principal .let-spa {
  letter-spacing: -3px;
}

.contenido-principal .descripcion-principal {
  width: 100%;
  text-align: center;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
  max-width: 350px;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--color-negro);
}

.leer-mas {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-family: var(--tipografia-secundaria);
  text-transform: capitalize;
  cursor: pointer;
}

.leer-mas i {
  margin: 15px;
}

@media (min-width: 768px) {
  .leer-mas {
    margin: 0;
  }
}

@media (min-width: 490px) {
  .contenido-principal {
    margin-top: 150px;
  }
  .navegacion-principal .logo {
    display: none;
  }
  .navegacion-principal .oculto-movil {
    display: block;
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navegacion-principal .numero,
  .navegacion-principal .correo {
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenido-principal .titulo-principal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .botones .btn-principal {
    margin: 10px 15px;
  }
}

@media (min-width: 768px) {
  .contenido-principal .descripcion-principal {
    max-width: 800px;
  }
  .contenido-principal .nav-sec {
    margin-top: 80px;
  }
  .contenido-principal .leer-mas {
    margin-top: 00px;
  }
}

.primer-seccion {
  width: 100%;
  background: var(--color-negro);
  color: var(--color-blanco);
  overflow-x: hidden;
  position: relative;
}

.primer-seccion .descripcion-primer-seccion {
  max-width: 700px;
  padding-right: 20px;
}

.segunda-seccion {
  position: relative;
  background: url("/images//imagen-fondo.webp") center/cover no-repeat;
}

.segunda-seccion .contenido-centrado {
  z-index: 2;
}

.segunda-seccion .linea-titulo-secundario {
  background: var(--color-negro);
}

.segunda-seccion .descripcion-segunda-seccion {
  padding: 20px;
  line-height: 1.5;
  border: 1px solid #b1b1b1;
  margin-bottom: 30px;
  max-width: 550px;
  position: relative;
  color: #666666;
  cursor: pointer;
  z-index: 2;
}

.segunda-seccion .descripcion-segunda-seccion::after {
  position: absolute;
  content: "01";
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #dbdbdb;
  z-index: -1;
}

.segunda-seccion .descripcion-segunda-seccion:nth-child(2)::after {
  content: "02";
}

.segunda-seccion .descripcion-segunda-seccion:nth-child(3)::after {
  content: "03";
}

.segunda-seccion .subtitulos-internos {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  z-index: 3;
  color: var(--color-negro);
}

.segunda-seccion .descripcion-segunda-seccion:hover {
  background: var(--color-negro);
  color: var(--color-blanco);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.segunda-seccion .descripcion-segunda-seccion:hover .subtitulos-internos {
  color: var(--color-blanco);
}

.segunda-seccion .descripcion-segunda-seccion:hover:after {
  color: #555555;
}

.segunda-seccion .texto-comun {
  font-size: 1rem;
  margin-top: 5px;
  z-index: 3;
  letter-spacing: 1px;
}

.segunda-seccion .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.segunda-seccion .btn-principal {
  margin-left: 0;
}

.segunda-seccion .oculto {
  position: relative;
}

.segunda-seccion .img-principal {
  position: absolute;
  height: 1605px;
  top: -453px;
  width: 520px;
  left: -40px;
}

.segunda-seccion:after {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.918);
  position: absolute;
  content: "";
  z-index: 1;
}

@media (min-width: 550px) {
  .segunda-seccion .descripcion-segunda-seccion {
    margin-left: 50px;
  }
  .segunda-seccion .descripcion-segunda-seccion::after {
    position: absolute;
    left: -50px;
    width: 50px;
    height: 50px;
    font-size: 2.2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #cacaca;
  }
  .segunda-seccion .botones {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  .segunda-seccion .grid {
    -ms-grid-columns: 550px 1fr;
        grid-template-columns: 550px 1fr;
    -ms-grid-rows: 150px 1000px 150px;
        grid-template-rows: 150px 1000px 150px;
  }
}

@media (min-width: 1100px) {
  .oculto {
    display: block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (min-width: 1244px) {
  .segunda-seccion .img-principal {
    position: absolute;
    height: 1605px;
    top: -453px;
    width: 590px;
    left: -40px;
  }
}

@media (min-width: 1440px) {
  .segunda-seccion .img-principal {
    position: absolute;
    height: 1605px;
    top: -453px;
    width: 690px;
    left: -40px;
  }
}

.ultima-seccion {
  background: var(--color-negro);
}

.ultima-seccion .grid {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 450px 250px 150px;
      grid-template-rows: 450px 250px 150px;
  grid-row-gap: 50px;
}

.ultima-seccion .img-testimonio {
  width: 0px;
  max-width: 320px;
  height: 00px;
}

.ultima-seccion .quote {
  color: var(--color-blanco);
  padding: 20px;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 2;
  font-size: 1rem;
  line-height: 2.5;
}

.ultima-seccion .autor {
  color: var(--color-blanco);
  text-transform: uppercase;
}

.ultima-seccion .visual {
  display: block;
  background: aqua;
}

.ultima-seccion .selected {
  color: var(--color-blanco);
}

.ultima-seccion .nombre-sec {
  color: var(--color-blanco);
}

.testimonio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  background: url("/images/personas/persona-01.webp") center/cover no-repeat;
}

.testimonio:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.473);
}

/*PARA MEJORAR
.testimonio:before {
  content: "-sergio";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 80px;
  height: 20px;
  z-index: 2;
  @include flex(row, center, center);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  font-family: var(--tipografia-principal);
  text-transform: capitalize;
  letter-spacing: 1px;
}
*/
@media (min-width: 768px) {
  .ultima-seccion .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 450px 150px;
        grid-template-rows: 450px 150px;
  }
  .ultima-seccion .testimonio {
    margin-left: 0;
  }
  .ultima-seccion .nav-sec {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.footer-principal {
  background: var(--color-negro);
  color: var(--color-blanco);
}

.footer-principal .grid {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 250px (120px)[6] 50px;
      grid-template-rows: 250px repeat(6, 120px) 50px;
  grid-row-gap: 40px;
}

.footer-principal .company-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-principal .company-desc .texto-comun {
  max-width: 320px;
  margin-top: 30px;
}

.footer-principal .logo {
  width: 90px;
  height: 90px;
}

.footer-principal .ubicaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-principal .sub-footer {
  font-family: var(--tipografia-secundaria);
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.footer-principal .texto-footer {
  margin: 0;
  display: block;
  line-height: 1.5;
}

.footer-principal .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-principal .texto-copy {
  font-family: var(--tipografia-principal);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  color: var(--color-gris);
}

@media (min-width: 550px) {
  .footer-principal .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 250px (120px)[2] 50px;
        grid-template-rows: 250px repeat(2, 120px) 50px;
    grid-column-gap: 20px;
  }
  .footer-principal .company-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    text-align: justify;
  }
  .footer-principal .copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}

@media (min-width: 768px) {
  .footer-principal .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (120px)[3] 50px;
        grid-template-rows: repeat(3, 120px) 50px;
    grid-column-gap: 20px;
  }
  .footer-principal .company-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    text-align: justify;
  }
  .footer-principal .copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}

@media (min-width: 1244px) {
  .footer-principal .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (120px)[3] 50px;
        grid-template-rows: repeat(3, 120px) 50px;
    grid-column-gap: 10px;
  }
  .footer-principal .copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
}

.nav-sec {
  position: relative;
  z-index: 2;
  color: var(--color-gris);
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-sec .contenido-nav-sec {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav-sec .numero-nav-sec {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--tipografia-secundaria);
  font-size: 1.7rem;
}

.nav-sec .nombre-nav-sec {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  font-family: var(--tipografia-secundaria);
  font-size: 1.3rem;
  color: var(--color-blanco);
}

.nav-sec .selection {
  font-size: clamp(2.3rem, 4vw, 3rem);
  color: black;
}

.nav-sec .selection-font {
  color: black;
}

.contenido-nav-sec:hover .nombre-nav-sec {
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contenido-nav-sec:hover .numero-nav-sec {
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: clamp(2.3rem, 4vw, 3rem);
}

.nom-nav-negativo {
  color: #292929 !important;
}

.nav-sec-negativo:hover .nombre-nav-sec {
  color: white !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-sec-negativo:hover .numero-nav-sec {
  color: white !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: clamp(2.3rem, 4vw, 3rem);
}

.selection-negativo {
  font-size: clamp(2.3rem, 4vw, 3rem) !important;
  color: white;
}

.selection-font-negativo {
  color: white;
}
/*# sourceMappingURL=main.css.map */