* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre-Regular.woff");
}
:root {
  --color-negro: #181818;
  --color-blanco: #fcfcfc;
  --color-gris: #919191;
  --tipografia-principal: "Roboto", sans-serif;
  --tipografia-secundaria: "Anton", sans-serif;
}

//MIXINS

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//GLOBALES

body {
  overflow-x: hidden;
  font-family: var(--tipografia-principal);
}
img {
  width: 100%;
  height: 100%;
}

.oculto {
  display: none;
}

.oculto-movil {
  display: none;
}

.visuales {
  display: none;
}

.contenido-centrado {
  padding: 20px 20px 0px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.texto-comun {
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  font-size: clamp(0.9rem, 2vw, 1.05rem);
  line-height: 1.8;
}

.titulos-secciones {
  .titulo-secundario {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 1.5;
  }
  .linea-titulo-secundario {
    width: 45%;
    height: 6px;
    background: var(--color-blanco);
    display: block;
    margin: 10px 0;
    max-width: 200px;
  }
}

.grid {
  padding: 100px 20px 0;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-rows: 200px 350px 150px;
  }
  .titulos-secciones {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .contenido-secciones {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .footer-secciones {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 200px 500px 150px;
    position: relative;
  }
  .visuales {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    max-height: 500px;
    .visual {
      background: aqua;
      position: absolute;
      width: 550px;
      height: 350px;
      z-index: 99;
      margin: auto 0;
    }
  }
}

.footer-secciones {
  margin: 45px 0px 0px;
  width: 100%;
  @include flex(column, center, flex-start);
  margin-bottom: auto;
  max-width: 300px;

  .navegacion-secundaria {
    width: 70%;
    max-width: 250px;
    height: 70px;
    @include flex(row, center, center);
    justify-content: space-between;
  }
  .nav-num {
    display: block;
    height: 100%;
    @include flex(column, center, center);
    font-family: var(--tipografia-secundaria);
    text-transform: uppercase;
    width: 40px;
  }
  .numero-sec {
    display: block;
    width: 100%;
    height: 40px;
    @include flex(row, flex-start, center);
    font-size: clamp(1.4rem, 3vw, 2.5rem);
    letter-spacing: 1px;
    color: var(--color-gris);
  }
  .selected {
    font-size: clamp(2.2rem, 4vw, 3rem);
    color: var(--color-negro);
  }
  .nombre-sec {
    font-size: clamp(1rem, 4vw, 1.2rem);
    width: 100%;
    height: 30px;
    @include flex(row, flex-start, center);
    color: var(--color-negro);
  }
}

//BOTONES

.botones {
  margin-top: 20px;
  @include flex(row, center, center);
  flex-wrap: wrap;
}

.btn-principal {
  padding: 6px 8px;
  border: 2px solid var(--color-negro);
  margin: 10px 0px;
  font-family: var(--tipografia-secundaria);
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.7vw, 1.1rem);
  color: var(--color-negro);
  i {
    margin: 0 5px;
  }
}

//HEADER PRINCIPAL

.header-principal {
  width: 100%;
  background: var(--color-blanco);
  margin-bottom: 50px;
}
.navegacion-principal {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  @include flex(row, center, center);
  flex-wrap: wrap;
  .logo {
    width: 100%;
    height: 100px;
    @include flex(row, center, center);
  }
  .mini-logo {
    width: 90px;
    height: 90px;
  }
  .numero,
  .correo {
    width: 50%;
    height: 50px;
    @include flex(row, flex-start, center);
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    color: var(--color-negro);
  }
  .correo {
    justify-content: flex-end;
  }
}

.contenido-principal {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  .titulo-principal {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(3.5rem, 10vw, 7rem);
    margin: 0;
    padding: 0;
    color: var(--color-blanco); //por si el navegador no soporta background clip
    background: url("/images/pexels-gabriel-lara-3657563.jpg") center / cover
      no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .let-spa {
    letter-spacing: -3px;
  }
  .descripcion-principal {
    width: 100%;
    text-align: center;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
    max-width: 350px;
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--color-negro);
  }
}

.leer-mas {
  @include flex(column, center, center);
  margin-top: 30px;
  font-family: var(--tipografia-secundaria);
  text-transform: capitalize;
  i {
    margin: 15px;
  }
}

//INICIO MEDIA QUERYS HEADER

@media (min-width: 490px) {
  .contenido-principal {
    margin-top: 150px;
  }
  .navegacion-principal {
    .logo {
      display: none;
    }
    .oculto-movil {
      display: block;
      width: 33.3%;
      @include flex(row, center, center);
    }
    .numero,
    .correo {
      width: 33.3%;
      @include flex(row, center, center);
    }
  }
  .contenido-principal {
    .titulo-principal {
      flex-direction: row;
    }
  }
  .botones {
    .btn-principal {
      margin: 10px 15px;
    }
  }
}
@media (min-width: 768px) {
  .contenido-principal {
    .descripcion-principal {
      max-width: 800px;
    }
  }
  .footer-secciones {
    margin-top: 80px;
  }
  .leer-mas {
    margin-top: 00px;
  }
}

//INICIO PRIMER SECCION

.primer-seccion {
  width: 100%;
  background: var(--color-negro);
  color: var(--color-blanco);
  overflow-x: hidden;
  position: relative;

  .descripcion-primer-seccion {
    max-width: 700px;
    padding-right: 20px;
  }

  .footer-secciones {
    margin: 0 0 50px 0;
    max-width: 300px;
    .navegacion-secundaria {
      justify-content: space-between;
    }
    .nav-num {
      width: 40px;
    }
    .numero-sec {
      color: var(--color-gris);
    }
    .selected {
      color: var(--color-blanco);
      width: 50px;
    }
    .nombre-sec {
      color: var(--color-blanco);
      width: 50px;
    }
  }
}

//INICIO SEGUNDA SECCION

.segunda-seccion {
  position: relative;
  background: url("/images/pexels-adrian-boustead-955938.jpg") center / cover
    no-repeat;
  .contenido-centrado {
    z-index: 2;
  }
  .linea-titulo-secundario {
    background: var(--color-negro);
  }
  .descripcion-segunda-seccion {
    padding: 20px;
    line-height: 1.5;
    border: 1px solid rgb(177, 177, 177);
    margin-bottom: 30px;
    max-width: 400px;
    position: relative;
  }
  .descripcion-segunda-seccion::after {
    position: absolute;
    content: "01";
    left: 0;
    top: 0;
    @include flex(row, center, center);
    font-size: 6rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(219, 219, 219);
    z-index: -1;
  }
  .descripcion-segunda-seccion:nth-child(2)::after {
    content: "02";
  }
  .descripcion-segunda-seccion:nth-child(3)::after {
    content: "03";
  }

  .subtitulos-internos {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  .texto-comun {
    font-size: 1rem;
    margin-top: 5px;
    color: rgb(102, 102, 102);
    letter-spacing: 1px;
  }
  .botones {
    @include flex(column, center, flex-start);
  }
  .btn-principal {
    margin-left: 0;
  }
  .oculto {
    position: relative;
  }
  .img-principal {
    position: absolute;
    height: 1430px;
    top: -430px;
    width: 500px;
    left: -20px;
  }
}
.segunda-seccion:after {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.918);
  position: absolute;
  content: "";
  z-index: 1;
}

@media (min-width: 550px) {
  .segunda-seccion {
    .descripcion-segunda-seccion {
      margin-left: 50px;
    }
    .descripcion-segunda-seccion::after {
      position: absolute;
      left: -50px;
      width: 50px;
      height: 50px;
      font-size: 2.2rem;
      justify-content: flex-start;
      color: rgb(202, 202, 202);
    }
    .botones {
      margin-left: 50px;
    }
  }
}

@media (min-width: 768px) {
  .segunda-seccion {
    .grid {
      grid-template-columns: 450px 1fr;
      grid-template-rows: 150px 850px 150px;
    }
  }
}

@media (min-width: 1100px) {
  .oculto {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

//INICIO ULTIMA SECCION

.ultima-seccion {
  background: var(--color-negro);
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 450px 250px 150px;
    grid-row-gap: 50px;
  }
  .testimonio {
    @include flex(column, flex-start, center);
    max-width: 320px;
    margin: 0 auto;
  }
  .img-testimonio {
    width: 100%;
    max-width: 320px;
    height: 200px;
  }
  .quote {
    color: var(--color-blanco);
    padding: 20px;
    text-align: justify;
    margin: 0;
  }
  .autor {
    color: var(--color-blanco);
    text-transform: uppercase;
  }
  .visual {
    display: block;
    background: aqua;
  }
  .selected {
    color: var(--color-blanco);
  }
  .nombre-sec {
    color: var(--color-blanco);
  }
  .footer-secciones {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .ultima-seccion {
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px 150px;
    }
    .testimonio {
      margin-left: 0;
    }
    .footer-secciones {
      grid-row: 2 / 3;
    }
  }
}

//INICIO FOOTER

.footer-principal {
  background: var(--color-negro);
  color: var(--color-blanco);
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 250px repeat(6, 120px) 50px;
    grid-row-gap: 40px;
  }
  .company-desc {
    @include flex(column, flex-start, center);
    text-align: center;
    .texto-comun {
      max-width: 320px;
      margin-top: 30px;
    }
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .ubicaciones {
    @include flex(column, center, center);
    text-align: center;
  }
  .sub-footer {
    font-family: var(--tipografia-secundaria);
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .texto-footer {
    margin: 0;
    display: block;
    line-height: 1.5;
  }
  .copy {
    @include flex(row, center, center);
  }
  .texto-copy {
    font-family: var(--tipografia-principal);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    color: var(--color-gris);
  }
}

@media (min-width: 550px) {
  .footer-principal {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 250px repeat(2, 120px) 50px;
      grid-column-gap: 20px;
    }
    .company-desc {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      text-align: justify;
    }
    .copy {
      grid-column: 1 / 4;
    }
  }
}

@media (min-width: 768px) {
  .footer-principal {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 120px) 50px;
      grid-column-gap: 20px;
    }
    .company-desc {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      text-align: justify;
    }
    .copy {
      grid-column: 1 / 4;
    }
  }
}

@media (min-width: 1244px) {
  .footer-principal {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 120px) 50px;
      grid-column-gap: 10px;
    }
    .copy {
      grid-column: 1 / 5;
    }
  }
}
